
@mixin hide-text {

    display: block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin hide-text-no-block {

    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin unhide-text {

    text-indent: inherit;
    white-space: inherit;
    overflow: inherit;
}

@mixin position-absolute-fill {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin pie-clearfix {

  &:after {

    content: "";
    display: table;
    clear: both;
  }
}

@mixin width-container {

    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 2rem;
}

@mixin width-container-wide {

    max-width: 80rem;

    @include width-container;
}

@mixin width-container-tight {

    max-width: 52rem;

    @include width-container;
}
