- get_header()
  main
    article.main.page.notfound
      header.page
        .container
          h1 Page Not Found
      section.page.content
        .container
          p: code= '<?php require_once \'silly-404-template.php\'; // TODO'
- get_footer()
