- get_header()
main
  article.main.page.index
    header.page
      .container
        h1 Writing by Jack Gutteridge
    aside.page
      .container
        span Posts from the archive
    - get_archive_index()
- get_footer()
