- get_header_header()

head
  meta( charset='utf-8' )
  meta( http-equiv='X-UA-Compatible', content='IE=edge, chrome=1' )
  meta( name='viewport', content='width=device-width, initial-scale=1.0' )

  title!= get_website_title()

  link( rel='stylesheet', type='text/css', href='/wp-content/themes/jng16/css/screen.css' )

  - wp_head()

- get_header_footer()
