footer.main
  .container
    section.footer.notice
      p
        a(href='/writing') Writing
        //-|  / 
        //-a(href='/links') Links
        |  / &copy; J. N. Gutteridge 2008-2016
- wp_footer()
- get_footer_footer()
