header.main
    .container
        nav.header.main
            ul.website
                li: a(href='/') Home
                li: a(href='/writing') Writing
            ul.profiles
                li: a.facebook(href='https://www.facebook.com/jackgutteridge',target='_blank') Facebook
                li: a.twitter(href='https://twitter.com/jngutteridge',target='_blank') Twitter
                li: a.lastfm(href='http://www.last.fm/user/madnessjack',target='_blank') LastFM
                li: a.github(href='https://github.com/jngutteridge',target='_blank') GitHub
                li: a.linkedin(href='https://www.linkedin.com/in/jackgutteridge',target='_blank') LinkedIn
            ul.contact
                li: a(href='mailto:jack@kingbrick.co.uk') Email
