$hue-primary: 200;

$color-primary:            hsl($hue-primary, 66%, 30%);
$color-primary-black: 	   hsl($hue-primary, 5%, 4%);
$color-primary-darker:     hsl($hue-primary, 66%, 18%);
$color-primary-dark:       hsl($hue-primary, 66%, 25%);
$color-primary-grey:       hsl($hue-primary + 10, 40%, 25%);
$color-primary-anchor:     hsl($hue-primary - 10, 66%, 40%);
$color-primary-screen:     hsl($hue-primary + 10, 66%, 70%);
$color-primary-light:      hsl($hue-primary - 10, 25%, 85%);
$color-primary-lighter:    hsl($hue-primary - 10, 25%, 90%);
$color-primary-white: 	   hsl($hue-primary, 5%, 96%);

html {
	background-color: $color-primary-black;
    color: $color-primary-white;
}

hr {
    border: 0;
    border-top: .2em solid $color-primary;
    margin: 5em 0;
}

a:link,
a:visited {
    color: $color-primary-anchor;
}


a.action {
    background-color: $color-primary;
    color: white;
    transition: color 500ms, background-color 650ms;

    &:hover {
        background-color: $color-primary-anchor;
        color: rgb(232, 242, 250);
        transition: color 500ms, background-color 100ms;
    }
}


header.main {
    background-color: $color-primary-black;

    &.main {
        color: $color-primary-white;

        a:link,
        a:visited {
            color: $color-primary-white;
            transition: color 500ms;

            &:hover {
                color: $color-primary;
                transition: color 50ms;
            }
        }

        .profiles a:link,
        .profiles a:visited {
            opacity: .6;
        }
    }
}

footer.main {
    color: $color-primary-white;
}


article.page {
    color: $color-primary-black;
    background-color: $color-primary-white;

    header.page {
        background-color: $color-primary-dark;
        color: $color-primary-white;
    }

    aside.page {
        background-color: $color-primary-dark;
        color: $color-primary-white;
    }
}

.content {

    em {
		color: $color-primary-grey;
	}

	h1,
	h2,
	h3 {
		color: $color-primary;

		a:link,
		a:visited {
			color: $color-primary;
			transition: color 650ms;

			&:hover {
				color: $color-primary-anchor;
				transition: color 100ms;
			}
		}
	}

	blockquote {
		color: $color-primary-grey;

		padding-left: 2em;
        border-left: $color-primary solid .2em;
	}

	a:link,
	a:visited {
		color: $color-primary-anchor;
		border-bottom: rgba($color-primary-grey, .4) solid 0.1em;
		transition: border-bottom-color 400ms;

		&:hover {
			transition: border-bottom-color 80ms;
			border-bottom-color: rgba($color-primary-anchor, .8);
		}
	}
}

